@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size:1EM
}

header {
    text-align: center;
    background-color: lightgrey;
}

menu > ul {
    list-style-type: none;
    background-color: aquamarine;
}

menu li {
    color: white;
    display: inline-block;
    padding: 10px;
}

article {
    width: 400px;
    display: block;
    margin: auto;
}

